.face-top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.face-down{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transform: rotate(180deg);
}