.snake{
    color: rgb(101, 161, 230);
    position: absolute;
    top: 60px;  
    left: 60px;
}

.snake-initial {
    /* Стили, определяющие начальное положение
      элемента на странице
    */
    transform: translateX(0px);
  }

.snake-final {
    /* Стили, определяющие конечное положение */
    transform: translateX(50px);
}